html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #00d5ff, #00ff88);
}

header {
  background: linear-gradient(to bottom right, red, #ffea00);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  color: #000000;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}